*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HERO CSS..................................................................... */
.hero{
  color: black;
  height: 80vh;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}
.hero:before{
  content: '';
  background: url('./assets/hero-img.jpg');
  background-size:cover;
  background-position: center;  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

.hero h1{
  font-size: 3.5rem;
  text-transform: capitalize;
}


.hero .search-text{
  margin: 1.5rem;
  font-family: 1.4rem;
}

/* SEARCH CSS.................................................. */
.search {
  background-color:yellowgreen;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  /* margin-left: px; */
  margin: 50px 0px 0px 170px;
  position: relative;
 
}
 .search-bar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
 }

 .search-bar input{
  width: 100%; 
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
 
 }

 .propertyList{
  color: green;
 }
 /* CONTAINER......................................................... */

 /* header h1{ 
  color: aqua;
  font-size: 3rem;
  margin-top: 150px;
 }*/




#Main-Container{
  margin-top: 10px;
  display: flex;
  
 }

.properties{ 
  
  display: flex;
  float: left;
  margin-left: 0;
  width: fit-content;
  margin-right: auto;
  border: 1px solid black; 
}

.property-info button                      
{
  color: yellowgreen;              
  font-size: 18px;
}
  

.App {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    gap: 10px;
  }

  .box {
    
    width: 300px;
    margin-top: 60px;
    background-color: yellowgreen;
    border: 2px solid #ddd;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box img {
    width: 50%;
    border-radius: 8px;
    margin-bottom: 10px;
   
  }
/* POPUP.................................................... */
  .popup {
   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 800px;
    height: 650px;
  }
  
  .popup-content {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: left;
    float: left;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
  }

  .popup img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
    
  }
  .popup-text{
    margin-left: 10px;
  }

  /* FAVOVRITES......................................... */
.favourite-item button{
  color: yellowgreen;
  font-size: 18px;
}

.favourite-image img{
  display: flex;
  width: 200px;
  height: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
   
}

.favourites{ 
  
  display: flex;
  float: left;
  margin-left: 0;
  width: 500px;
  margin-right: auto;
  border: 1px solid black; 
}

.fav{
  color: green;
}

.clear-favourites-button{
  color: yellowgreen;              
  font-size: 18px;
}
  
  
  /* TABS ...........................................................*/  

.App-one{
  
  display: flex;
  float: left;
 
}
.tab-box{
  
 
  margin: auto;
  margin-top: 70px;
  width: 300px;
  height: 300px;
  border: 1px solid  gray;
  margin-left: 10px;
  

 
}

.tabs{
  
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tab{
  background: yellowgreen;
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
  border-top: none;
  cursor: pointer;
  position: relative;
}

.active-tab{
  border: none;
  background: #fff;
}

.active-tab::after{
 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0 ;
  bottom: 0;
  width: 100%;
  background: initial;
  
   
}

.contents{
  position: relative;
}

.content{
 display: none;
 position: relative;
}

.active-content{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 1s ease-in-out;

}

.floorPlan-image img{
  width: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 150px;
}
  
.tab-description{
  color: black;
  font-size: 0.5rem;
}

/* RESPONSIVE .................................................................*/
@media only screen and (max-width: 768px) {
  .hero h1 {
    width: 130px;
    font-size: 1rem; 
    margin-left: 40px;
    margin-top: 4px;
  }

  .search {
    width: 200px; 
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 130px;
  }

  .hero .search-text{
    width: 100px;
    margin-left: 55px;
  }

  #Main-Container{
    width: 140px;

  }

   .box {
    width: 110px; 
    margin-top: 63px;
  }

  .box img {
    height: 100px;
    width: 100px;
  }

  .fav{
    font-size:1.5rem;
  }

  .propertyList{
    font-size: 1.4rem;
  }

  .clear-favourites-button{
    margin-top: 10px;
  }

  .favourite-image img{
    margin-top: 10px;
    height: 100px;
    width: 100px;
  }


  .popup {
    width: 350px; 
    height: 350px;
    margin-left:1px;
    display: flex;
    float: left;
    flex-wrap: wrap;   
  }

  .popup img {
    height: 130px;
    width: 120px;
  }

  .popup-text{
    font-size: 0.5rem;
  }

 

  /* FAVOURITES */
  .favourites,
  .properties {
    width: 100%; 
    margin: 10px auto; 
  }

  /* TABS */
  .tab-box {
    width: 150px;
    height: 180px; 
    margin-left:0px; 
    margin-top: 130px;
   }

  .App-one{
    font-size: 0.5rem;
    
  }

  .tab{
    width: 20px;
    height: 20px;
    font-size: 0.3rem;
    
  }

  .content{
    margin-top: 0px;
    
    font-size: 0.4rem;

  }

  .floorPlan-image img{
    height: 80px;
    width: 100px;
  }

  .description-topic{
    font-size:smaller;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .tab-description{
   margin-top: 10px;
    font-size:smaller;


  }
}